{% extends 'AppInicio/padre.html' %}

{% block title %} Alumnos Detalle {% endblock %}

{% block contenido %}

<section class="features-icons bg-light ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Página de detalles del alumno</h1>                    

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block buscar %}

<section class="features-icons bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <p>Nombre: {{alumno.nombre}}</p>
                <p>Apellido: {{alumno.apellido}}</p>
                <p>Curso: {{alumno.curso}}</p>
                <p>Mail: {{alumno.mail}}</p>
                <p>DNI: {{alumno.DNI}}</p>
                <p>Fecha de nacimiento: {{alumno.fecha_nacimiento}}</p>
                <p>
                    <a href="{% url 'inicio' %}">Regresar a inicio</a>
                </p>

            </div>
        </div>
    </div>
</section>


{% endblock %}