{% extends 'AppInicio/padre.html' %}

{% block title %} Eliminar Práctica {% endblock %}

{% block contenido %}

<section class="features-icons bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Eliminar Práctica</h1>                    

            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block buscar %}

<section class="features-icons bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                
                <form method="POST">
                    {% csrf_token %}
                    <p>Se eliminará la práctica {{object}}</p>

                    <input type="submit" value="Confirmar">
                </form>

            </div>
        </div>
    </div>
</section>


{% endblock %}