{% extends 'AppInicio/padre.html' %}

{% block title %} Nueva Práctica {% endblock %}

{% block contenido %}

<section class="features-icons bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Nueva Práctica</h1>
                
                <form method="POST">
                    {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Crear práctica">
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}