{% extends 'AppInicio/padre.html' %}

{% block title %} Prácticas {% endblock %}

{% block contenido %}

<section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Bienvenido a la página de prácticas realizadas!</h1> 
                
                <h2>Ingresa los datos para crear un nueva clase de práctica en el laboratorio:</h2>
                
                {% if formulario_practica.errors %}
                <p style="color: red;">Los datos son erroneos. Por favor revíselos. </p>
                {% endif %}

                <form action="{% url 'practicas' %}" method="POST">
                    {% csrf_token %}

                        <table>
                            {{ formulario_practica.as_table }}
                        </table>
                        <input type="submit" value="Enviar">
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}
